<div class="toc">
<ul>
<li><a href="#title-1-with-strange">title 1 ## with strange</a></li>
</ul>
</div>
<h2 id="title-1-with-strange">title 1 ## with strange<span c2c:role="header-emphasis"> emphasis</span></h2>