<p>[b]Old bold BBcode en gras[/b] <br>
old [url=<a href="http://example.com">http://example.com</a>]bbcode link[/url]</p>
<p><a c2c:document-id="12345" c2c:document-type="waypoints" c2c:lang="fr" c2c:role="internal-link" c2c:slug="some-slug">wiki link</a> before [[/whatever|another one]] that follows.<br>
Some <strong>bold text</strong> and <em>italic</em> and small <small>text</small><br>
<em>italic âccentuated content</em><br>
<a href="https://example.com?a=b&amp;c=d">markdown link</a><br>
Use the <code>printf()</code> function.<br>
and <br> is allowed</p>
<p><a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#97;&#100;&#100;&#114;&#101;&#115;&#115;&#64;&#101;&#120;&#97;&#109;&#112;&#108;&#101;&#46;&#99;&#111;&#109;">&#97;&#100;&#100;&#114;&#101;&#115;&#115;&#64;&#101;&#120;&#97;&#109;&#112;&#108;&#101;&#46;&#99;&#111;&#109;</a></p>
<figure c2c:position="inline"><img alt="image" c2c:document-id="123" c2c:role="embedded-image" c2c:size="MI" src="https://api.camptocamp.org//images/proxy/123?size=MI"><figcaption>image</figcaption>
</figure>
<div c2c:role="video"><iframe src="//www.youtube.com/embed/qEpdQDqaQdo"></iframe></div>
<p>[video]wrong url[/video]</p>
<blockquote>
<p>quote</p>
</blockquote>
<hr>
<h4 id="lists">lists</h4>
<ul>
<li>Here</li>
<li>is<ul>
<li>a</li>
</ul>
</li>
<li>list</li>
</ul>
<p>and</p>
<ul>
<li>Another</li>
<li>list.</li>
</ul>
<p>and</p>
<ol>
<li>numbered list</li>
<li>with autonumber</li>
</ol>
<p>"Slope": &gt; 30° and &lt; 35°</p>
<p>Some pitches definition</p>
<table c2c:role="ltag">
<tbody>
<tr>
<td><span class="pitch"><span translate="">L</span>1</span></td>
<td>5b</td>
<td>Nice slab with a slightly harder move</td>
</tr>
<tr>
<td><span class="pitch"><span translate="">L</span>2</span></td>
<td>5a</td>
<td>Lightly protected, carrying a cam or two could help</td>
</tr>
</tbody>
</table>
<blockquote>
<p>quote</p>
</blockquote>
<pre><code>Code with &lt;span&gt;a span&lt;/span&gt;
Code with &lt;patate&gt;unknown tag&lt;/patate&gt;
</code></pre>
&lt;script&gt; alert("beach") &lt;/script&gt;

<p><span>span</span></p>
<p>&lt;patate&gt;unknown tag&lt;/patate&gt;</p>
&lt;iframe&gt;iframe&lt;/iframe&gt;

<p>a est superieur &gt; à b</p>
<p>This is <a href="http://example.com/" title="Optional Title Here">an example</a> reference-style link.</p>