<figure c2c:position="inline"><img alt="123" c2c:document-id="123" c2c:role="embedded-image" c2c:size="MI" src="https://api.camptocamp.org//images/proxy/123?size=MI"></figure>
<figure c2c:position="inline"><img alt="123" c2c:document-id="123" c2c:role="embedded-image" c2c:size="MI" src="https://api.camptocamp.org//images/proxy/123?size=MI"></figure>